
.weather-widget{
min-width: 50px;
max-width: 100px;
display: flex;
justify-content: flex-end;
cursor: pointer;
margin-top: 20px;
}
.widget-column{
display: flex;
flex-direction: column;
align-items: flex-end;
}

.widget-row{
display: flex;
flex-direction: row;
align-items: center;
}

.weather-widget img{
    width: 35px;
}
.weather-widget > a {
    text-decoration: none;
    text-align: right;
    color: white;

}

.weather-page-container{
    border: 2px solid;
    grid-area: span 2 / span 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.weather-info{
display: flex;
flex-direction: column;
align-items: center;
min-height: 60px;
justify-content: flex-end;
}
.weather-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
    
}
.weather-info img{
    width: 30px;
    
}
.weather-info p{
    margin: 0;
    margin-top: 5px;
}


.align-center{
    justify-content: center;
}


  