
.weather-widget{
min-width: 50px;
max-width: 100px;
display: flex;
justify-content: flex-end;
cursor: pointer;
margin-top: 20px;
}
.widget-column{
display: flex;
flex-direction: column;
align-items: flex-end;
}

.widget-row{
display: flex;
flex-direction: row;
align-items: center;
}

.weather-widget img{
    width: 35px;
    
}
.weather-widget > a {
    text-decoration: none;
    text-align: right;
    color: white;

}

.weather-page-container{
    border: 2px solid;
    grid-area: span 2 / span 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.weather-page-container a{
text-decoration: none;
}


.weather-info{
display: flex;
flex-direction: column;
align-items: center;
min-height: 60px;
justify-content: flex-end;
}
.weather-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center
    
}
.weather-info img{
    width: 30px;    
}
.weather-info p{
    margin: 0;
    margin-top: 5px;
}

.align-center{
    justify-content: center;
}

.weather-card-container{
width: 85%;
display: flex;
align-self: center;
box-shadow: rgba(80, 77, 77, 0.35) 0px 5px 15px;
filter: brightness(250%);
margin: 35px;
padding: 5%;
justify-content: center;
gap: 1%;
}
.weather-card-container p{
    margin: 0;
    font-size: 0.9rem;
}
.weather-card-lc, .weather-card-cc, .weather-card-rc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.weather-card-cc{
    align-items: center;
}
.weather-card-cc img{
    width: 40%;
    filter: drop-shadow(0 0 5px rgb(116, 115, 115));
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .weather-card-container{
     flex-direction: column;
     font-size: 0.7rem;
  }

  .weather-card-lc, .weather-card-cc, .weather-card-rc{
    align-items: center;
    margin: 10px 0;
  }
  .weather-card-cc img{
    width: 20%;
  }
}